body {
    margin: 0px;
    padding: 0px;
    background-image: url(./background.jpg);
    background-position: center;
    background-size: cover;
}
.navbar {
    height: 10%;
    background-color:pink;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
}
#P1 {
color: rgb(34, 29, 29);
font-size: 30px;
font-family:'Dancing Script', cursive;
}
.global {
    
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.parent {
    width: 80%;
    display: flex;
    align-items: center;
}
#txt {
    height: 60px;
    flex: 8;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    color: rgb(63, 63, 63);
}
#btn {
    height: 60px;
    background-color: pink;
    color:  rgb(34, 29, 29);
    flex: 2;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    border: hidden;
    cursor: pointer;
}
.Todoitem {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item {
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
    background-color: rgb(246, 134, 151);
    border-radius: 10px;
    width: 80%;
}
.supp {
    color: red;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    background-color: rgb(235, 225, 226);
    width: 50px;
    border: hidden;
    cursor: pointer;
}
.nom {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.error{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color:white;
    border-radius: 10px;
    height:100%;
    width: 80%;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}
.hidden {
    display: none;
}

